[Unit]
Description=Geth Node

[Service]
Type=simple
Restart=always
User=geth
Group=geth
ExecStart=/bin/bash -ce '/usr/bin/geth --rpc --rpcaddr 0.0.0.0 --rpcport 18545 --testnet --bootnodes "enode://xxxx@52.169.14.227:30303,enode://xxx@0.0.0.0:0000" &>/var/log/geth/geth.log'

[Install]
WantedBy=multi-user.target
